
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
        </div><!--/.navbar-collapse -->
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8"><h1>Change!</h1></div>
        <div class="col-xs-2"></div>
    </div>
    <div class="row">
        <fieldset>
            <% for(var i in classes) {
                var c = classes[i];
            %>
            <label class="radio-inline">
                <input type="radio" name="selectedClass" value="<%=c.id%>" onchange="classChanged()"> <%= c.name%>
            </label>
            <% } %>
        </fieldset>
    </div>
    <% for(var i in classes) {
        var c = classes[i];
    %>
    <div class="row class-<%= c.id%>">
        <div class="col-md-12">
            <b><%= c.name%>:</b>
            <%
            for(var i in challenges) {
                var chal = challenges[i];
            %>
            <%= chal.name%>: <i class="fa fa-<%= (c.solved.indexOf(chal.id) != -1)?"check":"remove" %>"></i>
            <% } %>
        </div>
    </div>
            <% } %>
    <div class="row">
        <div class="col-md-1">
            <canvas id="chart" ></canvas>
        </div>
        <div>
            <form class="form-horizontal" action="/class/create" method="post" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="class">Class</label>  
                        <div class="col-md-2">
                            <input id="class" name="name" placeholder="5A" class="form-control input-md" required="" type="text">
                            
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="addClass"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div>
            <form class="form-horizontal" action="/class/createChallenge" method="post" onsubmit="setTimeout(function () { window.location.reload(); }, 10)">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="challenge">Challenge</label>  
                        <div class="col-md-2">
                            <input id="challenge" name="name" placeholder="Peter" class="form-control input-md" required="" type="text">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="points">Points</label>  
                        <div class="col-md-2">
                            <input id="points" name="points" placeholder="50" class="form-control input-md" required="" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div>
            <form class="form-horizontal" action="/class/solveChallenge" method="post" onsubmit="setTimeout(function () { window.location.reload(); }, 100)">
                <fieldset>
                    <input type="hidden" class="class-value" name="selectedClass" value="">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="solvedChallenge">Challenge</label>
                        <div class="col-md-4">
                            <select id="solvedChallenge" name="solvedChallenge" class="form-control">
                            </select>
                        </div>
                    </div>
                    <!-- TODO: use datepicker -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="solvedAt">Days ago:</label>  
                        <div class="col-md-2">
                            <input id="solvedAt" name="solvedAt" placeholder="1" class="form-control input-md" required="" type="number">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label"></label>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary">Solve!</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; Company 2013</p>
    </footer>
</div> <!-- /container -->
<script type="text/javascript">
 var classes = <%- JSON.stringify(classes) %>;
 var challenges = <%- JSON.stringify(challenges) %>;
 drawLineChart(classes, document.getElementById("chart"));

 // load old class from localStorage and fallback if not existent
 var selectedClass = localStorage.getItem("selectedClass");
 if(!selectedClass || !_.findWhere(classes, {id: +selectedClass})) {
     selectedClass = $("input[name=selectedClass]").first().val();
 }
 $("input[name=selectedClass][value=" + selectedClass + "]").prop("checked", true);
 setClass(selectedClass);

 function setClass(newClass) {
     console.log("setClass:", newClass);

     $(".class-" + selectedClass).removeClass("selected");

     selectedClass = newClass;
     localStorage.setItem("selectedClass", selectedClass);

     var solvedSelect = $("#solvedChallenge");
     solvedSelect.empty(); // remove old options
     var currentSolved = _.findWhere(classes, {id: +selectedClass}).solved;
     _.each(challenges.filter(function(c) {
         return currentSolved.indexOf(c.id) == -1
     }), function(challenge) {
         solvedSelect.append($("<option></option>")
 .attr("value", challenge.id)
 .text(challenge.name));
     });

     $(".class-value").val(selectedClass);
     $(".class-" + selectedClass).addClass("selected");
 }
 
 function classChanged() {
     setClass($("input[name=selectedClass]:checked").val());
 }
</script>
